body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #0b0b0b;
    padding: 20px;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h1, .sidebar h2 {
    color: #00ff00;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #00ff00;
    color: #000;
}

.sidebar .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #000;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.sidebar .btn:hover {
    background-color: #0a0;
    color: #fff;
}

main {
    margin-left: 300px; /* Pushes the main content to the right */
    padding: 20px;
    flex: 1;
    overflow-y: auto; /* Ensures content is scrollable if it overflows */
}

h3 {
    color: #00ff00;
    margin-bottom: 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

.project-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    flex: 1;
    min-width: 300px;
}

.project video {
    width: 100%;
    border: 2px solid #00ff00;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    width: 100%;
}

form input, form textarea {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #0f0;
    border-radius: 5px;
    background-color: #111;
    color: #0f0;
    width: 100%;
}

form input::placeholder, form textarea::placeholder {
    color: #555;
}

form button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0a0;
    color: #fff;
}


/* Center-align text within sections */
section#about p, section#experience p, section#skills ul {
    text-align: left;
}

form button:hover {
    background-color: #0a0;
    color: #fff;
}
